@import "../../styles/colors.scss";
@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.header {
  position: relative;
  padding: spacing(1) 0;

  &::before {
    @include background($primary-color);
  }

  &__container {
    display: flex;
  }

  .logo {
    padding-right: spacing(4);
  }
}
